@font-face {
    font-family: 'PrometoW04';
    src: url('PrometoW04-Bold.eot');
    src: url('PrometoW04-Bold.eot?#iefix') format('embedded-opentype'),
        url('PrometoW04-Bold.woff2') format('woff2'),
        url('PrometoW04-Bold.woff') format('woff'),
        url('PrometoW04-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

