$mobile: 320px;
$small: 500px;
$tablet: 767px;
$large: 980px;
$xl-large: 1200px;
$xxl-large: 1500px;

@mixin xs {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-large}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$xxl-large}) {
    @content;
  }
}

@mixin responsive($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin responsiveMin($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin responsiveMinHeight($height) {
  @media (min-height: #{$height}) {
    @content;
  }
}

@mixin clearfix() {
  content: "";
  display: table;
  clear: both;
}