@media (max-width: 766px) {
  header .wrap {
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%)!important;
  }

  header .wrap svg {
    display: none!important;
  }
}

@media (min-width: 500px) and (max-width: 766px) {
  header .wrap {
    height: 395px;
  }
  header #myVideo {
    position: relative!important;
    top: -40px!important;
  }
}

@media (min-width: 766px) and (max-width: 1005px){
  header .wrap nav ul .menuItemOuter.sustainability {
    width: 166px;
  }
}