// colors
$blue: #3D9DC0;
$darkGrey: #6f7783;
$middleGrey: #b3b3b3;
$lightGrey: #e7e3e2;
$superLightGrey: #dae0de;
$black: #232323;
$white: #ffffff;

// fonts
@font-face {font-family: "Prometo";
    src: url("../fonts/PrometoW04-Bold/PrometoW04-Bold.eot");
    src: url("../fonts/PrometoW04-Bold/PrometoW04-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PrometoW04-Bold/PrometoW04-Bold.woff2") format("woff2"),
    url("../fonts/PrometoW04-Bold/PrometoW04-Bold.woff") format("woff"),
    url("../fonts/PrometoW04-Bold/PrometoW04-Bold.ttf") format("truetype");
}

@font-face {font-family: "PrometoRegular";
	src: url("../fonts/PrometoW04-Regular/Prometo-Regular.eot");
    src: url("../fonts/PrometoW04-Regular/Prometo-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PrometoW04-Regular/Prometo-Regular.woff2") format("woff2"),
    url("../fonts/PrometoW04-Regular/Prometo-Regular.woff") format("woff"),
    url("../fonts/PrometoW04-Regular/Prometo-Regular.ttf") format("truetype");
}

@font-face {font-family: "PrometoMedium";
	src: url("../fonts/PrometoW04-Medium/PrometoW04-Medium.eot");
    src: url("../fonts/PrometoW04-Medium/PrometoW04-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PrometoW04-Medium/PrometoW04-Medium.woff2") format("woff2"),
    url("../fonts/PrometoW04-Medium/PrometoW04-Medium.woff") format("woff"),
    url("../fonts/PrometoW04-Medium/PrometoW04-Medium.ttf") format("truetype");
}

@font-face {font-family: "PrometoThin";
	src: url("../fonts/PrometoW04-Thin/PrometoW04-Thin.eot");
    src: url("../fonts/PrometoW04-Thin/PrometoW04-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PrometoW04-Thin/PrometoW04-Thin.woff2") format("woff2"),
    url("../fonts/PrometoW04-Thin/PrometoW04-Thin.woff") format("woff"),
    url("../fonts/PrometoW04-Thin/PrometoW04-Thin.ttf") format("truetype");
}

@font-face {font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue/HelveticaNeue.eot");
    src: url("../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype");
}

// other
$default-transition: all 0.3s ease;