@import "_reset.scss";
@import "_vars.scss";
@import "_mixins.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// general start
.container {
  margin: 0 auto;
  padding: 0 20px;
  @include sm {
    width: 480px;
    padding: 0;
  }
  @include md {
    width: 680px;
  }
  @include lg {
    width: 880px;
  }
  @include xl {
    width: 1180px;
  }
}

.sectionText {
  text-align: center;
  padding: 25px 0 25px;
  outline: none;
  // @include sm {
  //   padding: 80px 0 80px;
  // }
  // @include md {
  //   padding: 50px 0 50px;
  // }
  // @include lg {
  //   padding: 70px 0 70px;
  // }
  // @include xl {
  //   padding: 100px 0 100px;
  // }
  h3, h4 {
    &.blue {
      color: $blue;
      &:after {
        background: $blue;
      }
    }
    font-size: 28px;
    padding-bottom: 30px;
    font-family: sans-serif;
    color: $darkGrey;
    position: relative;
    margin-bottom: 20px;
    @include sm {
      font-size: 30px;
      margin-bottom: 25px;
    }
    @include md {
      font-size: 32px;
      margin-bottom: 30px;
    }
    @include lg {
      font-size: 34px;
      margin-bottom: 35px;
    }
    @include xl {
      font-size: 36px;
    }
    &:after {
      content: "";
      position: absolute;
      height: 3px;
      width: 540px;
      background: $darkGrey;
      max-width: 90%;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p:not(.first) {
    font-family: sans-serif;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  .textWraper {
      font-family: sans-serif;
      @include md {
        display: flex;
        max-width: 800px;
        margin: 60px auto;
      }
      .left {
      color: $blue;
      margin-bottom: 20px;
      font-family: "Prometo";
      font-size: 21px;
      @include responsive(766px) {
        text-align: left;
        max-width: 166px;
        margin-bottom: 60px;
        .first {
          display: inline;
          position: relative;
          padding-bottom: 30px;
          &:after {
            content: '';
            display: block;
            width: 105%;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $darkGrey;
          }
        }
      }
      @include md {
        min-width: 165px;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      @include lg {
        padding-right: 20px;
      }
      .first {
        text-transform: uppercase;
      }
      .last {
        padding-top: 10px;
        display: inline-block;
        position: relative;

        @include md {
          padding-left: 10px;
          margin-top: 10px;
          &:after {
            content: '';
            display: block;
            width: 75px;
            height: 1px;
            top: 0;
            right: 0;
            position: absolute;
            background: $blue;
          }
        }
      }
    }
    .right {
      color: $darkGrey;
      line-height: 1.15;
      text-align: left;      
      p {
        font-family: "HelveticaNeue";
        @include responsiveMinHeight(900px) {
          font-size: 22px;
        }
        @include responsiveMinHeight(1000px) {
          font-size: 25px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include md {
        position: relative;
        padding-left: 10px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 2px;
          height: calc(100% - 9px);
          background: $darkGrey;
        }
      }
      @include lg {
        padding-left: 20px;
      }
    }
    .italic {
      font-style: italic;
    }
  }
}
// general end

// typygorathy start

// typygorathy end

.wraper {
  overflow: hidden;
}

//Hedear section start
.section.header {
  background: #1e1d1e;
  .fp-tableCell {
    background: #1e1d1e;
  }
}
header { 
  background-color: #1e1d1e;
  min-height: 550px;
  @include md {
    min-height: auto;
  }
  #myVideo {
    width: 100%;
    height: 100%;
    @include sm {
      // position: relative;
      // left: 20%;
    }
    @include md {
      position: static;
    }
  }
  >img {
    max-width: 1600px;
    min-height: 900px;
  }
  svg {
    display: none;
    @include md {
      display: block;
    }
    .vision {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      transition-delay: 0s;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .commerce {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .consulting {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .applikation {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .innovation {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .sustainability {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }
    .resources {
      stroke-dasharray: 2000;
      stroke-dashoffset: -2000;
      transition: all 1s ease;
      &.show {
        stroke-dashoffset: 0;
      }
    }

    &:hover polyline,
    &:hover .second {
      stroke-dashoffset: 0;
    }
  }
  .wrap {
    margin: auto;
    position: relative;
    min-height: 395px;
    width: 360px;
    @include responsiveMin(500px) {
      width: 540px;
    }
    @include responsiveMin(766px) {
      width: 800px;
    }
    @include responsiveMin(1005px) {
      width: 1000px;
    }
    @include responsiveMin(1400px) {
      width: 1200px;
    }
    @include responsiveMin(1800px) {
      width: 1600px;
    }
    svg {      
      @include responsiveMin(500px){        
        width: 100%;
        height: 100%;
        top: 0;        
        position: relative;
        left: 125px;
      }
      @include responsiveMin(766px) {
        position: absolute;
        left: 0;
      }
    }
    

    nav {
      text-align: center;
      padding-bottom: 20px;
      @include responsiveMin(500px){
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: left;
        padding-bottom: 0px;
      }            
      ul {
          .menuItemOuter {
          text-transform: uppercase;
          padding: 5px 10px;
          @include responsiveMin(766px) {
            padding: 0;
          }
          a {
            font-size: 8px;
            @include responsiveMin(500px){
              font-size: 11px;
            }
            @include responsiveMin(766px) {
              font-size: 15px;
            }
            @include responsiveMin(1000px) {
              font-size: 18px;
            }
            font-family: "PrometoMedium";
            
          }
          li {
            font-family: sans-serif;
            margin: 5px 5px;
          }
          position: absolute;
          @include responsiveMin(766px) {
            position: absolute;
          }
            .menuItemInner {
              @include responsiveMin(766px){
                transform: translateY(0);
                opacity: 0;
              }              
              transition: 1s all ease;
            }
            &:hover {
              a {
                color: $blue;
                &:before,
                &:after {
                  color: $blue;
                }
              }
            }
            &:hover .menuItemInner {
              @include responsiveMin(766px){
                opacity: 1;
                transform: translateY(20px);
              }
            }
          &.before {
            a {
              &:before {
                @include responsiveMin(766px){
                  content: "\2022";
                  padding-right: 5px;
                  transition: $default-transition;
                }                
              }              
              &:hover:before {
                color: $blue;
              } 
            }
            .menuItemInner {
              a {
                font-family: sans-serif;
                &:before {
                  content: none;
                }
              }
            }
          }
          &.after {
            a {
              &:after {                
                @include responsiveMin(766px){
                  content: "\2022";
                  padding-left: 5px;
                  transition: $default-transition;
                }
              }              
              &:hover:after {
                color: $blue;
              }
            }
            .menuItemInner {
              list-style-type: none;
              a {
                &:after {
                  content: none;
                }
              }
            }
          }
          a {
            color: $white;
            text-decoration: none;
            transition: $default-transition;
            &:hover {
              color: $blue;
            }
          }
          &.vision {
            top: 5%;
            right: 21.94%;
            @include responsiveMin(500px) {
              top: 6.2%;
              right: 23.94%;
            }
            @include responsiveMin(766px) {
              top: 9.5%;
              right: 25.54%;

              top: 11%;
              right: 26.54%;
            }
            @include responsiveMin(1005px) {
              top: 9.5%;
              right: 26.6%;

              top: 11.7%;
              right: 27.22%;
            }
            @include responsiveMin(1400px) {
              top: 9.8%;
              right: 27.6%;

              top: 12%;
              right: 28.44%;
            }
            @include responsiveMin(1600px) {
              top: 9.7%;
              right: 27.6%;

              top: 11.8%;
              right: 28.21%;
            }
            @include responsiveMin(1800px) {
              top: 10.2%;
              right: 28.94%;

              top: 12.07%;
              right: 29.58%;
            }
          }
          &.commerce {
            top: 14.8%;
            right: -3.4%;
            @include responsiveMin(500px) {
              top: 21.8%;
              right: 1.6%;  
            }  
            @include responsiveMin(766px) {
              top: 19.3%;
              right: 3%;

              top: 34.1%;
              right: 3.1%;
            }
            @include responsiveMin(1005px) {
              top: 19.2%;
              right: 7%;

              top: 34.5%;
              right: 4.2%;
            }
            @include responsiveMin(1400px) {
              top: 19.6%;
              right: 10%;

              top: 34.8%;
              right: 7.5%;
            }
            @include responsiveMin(1600px) {
              top: 19.6%;
              right: 10%;

              top: 34.74%;
              right: 7.5%;
            }
            @include responsiveMin(1800px) {
              top: 19.8%;
              right: 13.6%;

              top: 35.1%;
              right: 11.78%;
            }
          }
          &.consulting {
            top: 40.6%;
            right: -2.4%;
            @include responsiveMin(500px) {
              top: 64.6%;
              right: 4.6%;
            }
            @include responsiveMin(766px) {
              top: 41.6%;
              right: -1.4%;

              top: 85.6%;
              right: 7.2%;
            }
            @include responsiveMin(1005px) {
              top: 41.5%;
              right: 3.0%;

              top: 86.1%;
              right: 8.4%;
            }
            @include responsiveMin(1400px) {
              top: 42.3%;
              right: 6.6%;

              top: 86.5%;
              right: 12.6%;
            }
            @include responsiveMin(1600px) {
              top: 42.2%;
              right: 6.6%;

              top: 86.5%;
              right: 12.4%;
            }
            @include responsiveMin(1800px) {
              top: 42.6%;
              right: 10.6%;

              top: 86.84%;
              right: 17.60%;
            }
          }
          &.applikation {
            top: 27%;
            right: -7.3%;
            @include responsiveMin(500px) {
              top: 45%;
              right: -2.3%;
            }
            @include responsiveMin(766px) {
              top: 69.8%;
              right: -1.2%;
              max-width: 220px;

              top: 62%;
              right: -0.3%;
              .menuItemInner {
                text-align: left!important;
              }
            }
            @include responsiveMin(1005px) {
              top: 70.2%;
              right: 4.0%;
              max-width: 100%;

              top: 62.6%;
              right: 0.7%;
              .menuItemInner {
                text-align: right!important;
              }
            }
            @include responsiveMin(1400px) {
              top: 70.2%;
              right: 7.4%;

              top: 63%;
              right: 4.7%;
            }
            @include responsiveMin(1600px) {
              top: 70.2%;
              right: 7.4%;

              top: 62.82%;
              right: 4.7%;
            }
            @include responsiveMin(1800px) {
              top: 70.5%;
              right: 11.7%;

              top: 63.28%;
              right: 9.71%;
            }
          }
          &.innovation {
            top: 40.5%;
            right: 65.9%;
            @include responsiveMin(500px) {
              top: 65.5%;
              right: 69.9%;
            }
            @include responsiveMin(766px) {
              top: 81.5%;
              right: 72.9%;

              top: 85.5%;
              right: 67.8%;
            }
            @include responsiveMin(1005px) {
              top: 82.3%;
              right: 72.9%;

              top: 85.67%;
              right: 67.6%;
            }
            @include responsiveMin(1400px) {
              top: 82.3%;
              right: 72.9%;

              top: 86.5%;
              right: 67.9%;
            }
            @include responsiveMin(1600px) {
              top: 82.3%;
              right: 72.9%;

              top: 86.3%;
              right: 67.8%;
            }
            @include responsiveMin(1800px) {
              top: 82.5%;
              right: 72.9%;

              top: 86.6%;
              right: 67.9%;
            }
          }
          &.sustainability {
            top: 20.2%;
            right: 72.3%;
            @include responsiveMin(500px) {
              top: 33.2%;
              right: 73.3%;
            }           
            @include responsiveMin(766px) {
              top: 53.5%;
              right: 81.2%;

              top: 49.7%;
              right: 76.3%;
              a:after {
                position: absolute;
                right: 0;
                top: -1px;
              }
            }
            @include responsiveMin(1005px) {
              top: 53.8%;
              right: 81.2%;

              top: 49.8%;
              right: 76.2%;
              a:after {
                position: static;
              }
            }
            @include responsiveMin(1400px) {
              top: 54%;
              right: 81.2%;

              top: 50.2%;
              right: 76.3%;
            }
            @include responsiveMin(1600px) {
              top: 54%;
              right: 81.2%;

              top: 50.2%;
              right: 76.3%;
            }
            @include responsiveMin(1800px) {
              top: 54.2%;
              right: 81.3%;

              top: 50.49%;
              right: 76.38%;

            }
          }
          &.resources {
            top: 5%;
            right: 66%;
            @include responsiveMin(500px) {
              top: 7%;
              right: 67%;
            } 
            @include responsiveMin(766px) {
              top: 18%;
              right: 79%;

              top: 10.8%;
              right: 66.9%;
            }
            @include responsiveMin(1005px) {
              top: 18.3%;
              right: 79%;

              top: 11.8%;
              right: 66.9%;
            }
            @include responsiveMin(1400px) {
              top: 18.8%;
              right: 79%;

              top: 12%;
              right: 67%;
            }
            @include responsiveMin(1600px) {
              top: 18.8%;
              right: 79%;

              top: 12%;
              right: 67%;
            }
            @include responsiveMin(1800px) {
              top: 19%;
              right: 79%;

              top: 12.24%;
              right: 67.1%;
            }
          }
        }
        .menuItemInner {          
          &.right {
            @include responsiveMin(766px){
              text-align: right;
            }            
          }          
          a {
            text-transform: none;
          }
        }
      }    
    }
  }
}

// Animation for menu items
nav {
  .menuItemOuter {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    &.vision {
      //animation-delay: 16s;
      animation-delay: 1s;
    }
    &.commerce {
      //animation-delay: 17s;
      animation-delay: 2s;
    }
    &.consulting {
      //animation-delay: 18s;
      animation-delay: 3s;
    }
    &.applikation {
      //animation-delay: 19s;
      animation-delay: 4s;
    }
    &.innovation {
      //animation-delay: 20s;
      animation-delay: 5s;
    }
    &.sustainability {
      //animation-delay: 21s;
      animation-delay: 6s;
    }
    &.resources {
      //animation-delay: 22s;
      animation-delay: 7s;
    }
    &.played {
      animation-delay: 0s!important;
    }
  }
}



//Hedear section end


//Vision section start
.visionSection {
  h1 {
    font-size: 28px;
    padding-bottom: 30px;
    font-family: "PrometoThin";
    color: $blue;
    position: relative;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 400px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background-color: $darkGrey;
    }
    @include responsive(400px) {
      font-size: 25px;
      padding-bottom: 20px;
    }
    @include sm {
      font-size: 30px;
    }
    @include md {
      font-size: 32px;
    }
    @include lg {
      font-size: 34px;
    }
    @include xl {
      font-size: 36px;
    }
  }
  h2 {
    padding: 30px 10px;
    font-size: 24px;
    display: inline-block;
    font-weight: 700;
    border-top: 3px solid $darkGrey;
    @include responsive(400px) {
      font-size: 18px;
      padding: 20px 10px;
    }
    @include sm {
      font-size: 26px;
    }
    @include md {
      font-size: 28px;
    }
    @include lg {
      font-size: 30px;
    }
    @include xl {
      font-size: 32px;
    }
  }
  p {
    @include responsive(400px) {
      font-size: 13px;
    }
  }
  h2, h3 {
    color: $darkGrey;
    font-family: "Prometo";
  }
  .left {
    .first {
      font-size: 21px;
    }
  }
}

//Vision section end

// Other sections start
.paymentsSection {
  background: $lightGrey;
  .paymentSystems {
    img {
      max-width: 80px;
    }
  }
}

.softwareDevelopmentSection {
  background: $lightGrey;
}

.whatWeStandFor {
  background: $lightGrey;
  .slogan {
    font-size: 22px;
    p {
      font-family: "Prometo"!important;
      margin-bottom: 0px!important;
      display: inline-block;
      &:first-letter {
        color: $blue;
      }
      &:first-child {
        &:first-letter {
          font-size: 24px;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .slogan {
    p {
      &:first-child {
        &:first-letter {
          float: left;
          margin-top: 1.5px;
        }
      }
    }
  }
}

.resourcesSection {

}

.sustainabilitySection {
  background: $white;
}
// Other sections end


//LetsConnect section start
.letsConnectSection {
  .backgroundWrap {
    background: url('../img/letsConnectBW.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 500px;
    position: relative;
    height: 100%;
  }  
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    color: $blue;
    background: $white;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid $blue;
    transition: $default-transition;
    font-size: 18px;
    font-family: "Prometo";
    text-decoration: none;
    @include sm {
      font-size: 30px;
    }
    @include md {
      font-size: 32px;
      padding: 15px;
    }
    @include lg {
      font-size: 34px;
    }
    @include xl {
      font-size: 36px;
    }
    &:hover {
      transform: translate(-50%) scale(1.1);
    }
  }
}
//LetsConnect section end

//Innovation section start
.innovationSection {
  padding: 70px 0 70px;
  @include sm {
    padding: 80px 0 80px;
  }
  @include md {
    padding: 50px 0 50px;
  }
  @include lg {
    padding: 70px 0 70px;
  }
  @include xl {
    padding: 100px 0 100px;
  }
  .container {        
  }
}
//Innovation section end

//Footer section start
footer {
  background: $darkGrey;
  padding: 25px 0;
  font-family: sans-serif;
  @include md {
    padding: 30px 0;
  }
  @include lg {
    padding: 40px 0;
  }
  .container {
    text-align: center;
    a {
      color: $white;
      font-weight: 500;
      text-decoration: none;
      @include md {
        font-size: 19px;
      }
      &:first-child {
        padding-right: 10px;
        border-right: 1px solid $white;
      }
      &:last-child {
        padding-left: 5px;
      }
    }
  }
}
//Footer section end

#goToTop {
  width: 86px;
  height: 87px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: url('../img/arrowUp.png') no-repeat center center;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  transform: scale(0.7);
  @include lg {
    transform: scale(0.84);
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

// Flip device
.flip-device {
  display: none;
  @include responsive(500px){
    display: block;
    position: fixed;
    background: #3d9dc0;
    left: 30px;
    border-radius: 10px;
    bottom: 45px;
  }  
}

.termAndConditionsAndContact {
  background: #3C3D3F;
  .wraper {
    padding: 60px 0;
  }
  .logo {
    text-align: right;
    img {
      max-width: 140px;
    }
  }
  .textContainer {
    color: $white;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    @include md {
      display: flex;
      max-width: 700px;
      margin: 60px auto 60px;
    }
    @include lg {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    .left {
      margin-bottom: 20px;
      font-family: "PrometoRegular";
      font-size: 21px;
      @include md {
        min-width: 165px;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      @include lg {
        padding-right: 20px;
      }
      .first {
        text-transform: uppercase;
        font-weight: bold;
      }
      .last {
        padding-top: 10px;
        display: inline-block;
        position: relative;

        @include md {
          padding-left: 10px;
          margin-top: 10px;
          &:after {
            content: '';
            display: block;
            width: 75px;
            height: 1px;
            top: 0;
            right: 0;
            position: absolute;
            background: $blue;
          }
        }
      }
    }
    .right {
      color: $white;
      line-height: 1.15;
      text-align: left;
      p {
        font-family: "HelveticaNeue";
      }
      @include md {
        position: relative;
        padding-left: 10px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0px;
          width: 1px;
          height: 130px;
          background: $white;
        }
      }
      @include lg {
        padding-left: 20px;
      }
    }
    .italic {
      font-style: italic;
    }
    b {
      font-weight: bold;
    }
    .blue {
      color: $blue;
    }
  }
  .fixedContainerForHomeButton {
    @include responsive(940px) {
      width: 680px;
      height: 100px;
      margin: auto;
      position: fixed;
      top: 115px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100%;
    }
    @include responsive(766px) {
      width: 480px;
    }
    .goHomeFixed {
      color: $blue;
      position: fixed;
      top: 45px;
      right: 0px;
      margin-top: 2px;
      font-family: PrometoRegular;
      text-transform: uppercase;
      padding: 15px 25px;
      border: 2px solid #3d9dc0;
      border-radius: 10px;
      transition: all .3s ease;
      text-decoration: none;
      font-weight: 700;
      @include responsiveMin(940px) {
        right: unset;
        top: 57px;
        left: 200px;
      }
      &:hover, &:focus {
        background: $blue;
        color: $white;
        transform: scale(1.1);
      }
      @include responsive(500px) {
        right: 20px;
      }
    }
  }
}

.contactPage {
  background: #3C3D3F;
  .wraper {
    padding: 60px 0;
  }
  .textContainer {
    display: flex;
    justify-content: space-between;
    @include responsive(766px) {
      flex-wrap: wrap;
    }
    .left {
      max-width: 252px;
      color: $white;
      .heading {
        color: $blue;
        font-family: "PrometoMedium";
        font-size: 23px;
        margin-bottom: 25px;
        text-transform: uppercase;
      }
      p:not(.heading) {
        font-family: HelveticaNeue;
        font-size: 17px;
        line-height: 1.2;
      }
      .shortLine {
        width: 30px;
        height: 2px;
        background: $white;
        margin-bottom: 20px;
      }
      @include responsive(766px) {
        order: 1;
      }
    }
    .right {      
      @include responsive(766px) {
        width: 100%;
        margin-bottom: 80px;
        .logo {
          text-align: right;
        }
      }
    }
  }
}

.emailImage {
  margin-left: -5px;
}

.section.sectionText {
  .textWraper {
    .right {
      p {
        font-size: 21px;
      }
    }
  }
}

// .section.sectionText.paymentsSection {
//   .textWraper {
//     .right {
//       p {
//         font-size: 15px;
//       }
//     }
//   }
// }

.whatWeStandFor  {
 .textWraper {
  @include md {
    flex-wrap: wrap;
    .right {
      width: calc(100% - 205px);      
    }
  }
  .slogan {
    //font-size: 36px;
    width: 100%;
    p {
      color: rgb(111, 119, 131);
      font-family: "Prometo"!important;
    }
  }
 }
}

.section.sectionText  {
  .textWraper  {
    .right {
      p {
        position: relative;
        top: -4px;
      }
    }
  }
}


// animation
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//@keyframes fadeIn {
//  0% {
//    pointer-events: none;
//    opacity: 0;
//  }
//  1% {
//    pointer-events: auto;
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//    pointer-events: auto;
//  }
//}





@import "_overides.scss";